{% extends "blog/base.html" %}

{% block content %}
<form action="login" method="post"  class="box">
    <table>
        <tr>
            <td>
                <label for="uname"><b>Username</b></label>
            </td>
            <td>
                {% csrf_token %}
                <input type="text" class="input" placeholder="Username" name="username" id="name" type="text" required>
            </td>
        </tr>
        <tr>
            <td>
                <label for="psw"><b>Password</b></label>
            </td>
            <td>
                {% csrf_token %}
                <input class="input" placeholder="Enter Password" name="password" id="password" type="password" required>
            </td>
        </tr>
        <tr >
            <td width=1000px >
                    <button type="submit" class="signupbtn">Login</button>    
            </td>
        </tr>
    
    <div>
        {% for message in messages %}
        <h3>{{ message }}</h3>
        {% endfor %}
    </div>
    
    </table>
</form>

{% endblock %}