{% extends "blog/base.html" %}

{% block content %}
    <form method="post" action="login">
    <!--<div class="imgcontainer">
            <img src="img.png" alt="Avatar" class="avatar">
        </div>-->

        <div class="container">
            <label for="uname"><b>Username</b></label>
            {% csrf_token %}
            <input type="text" placeholder="Enter Username" name="username" id="name" required>

            <label for="psw"><b>Password</b></label>
            {% csrf_token %}
            <input type="password" placeholder="Enter Password" name="password" id="password" required>

            <button type="submit">Login</button>
            <label>
                <input type="checkbox" checked="checked" name="remember">Remember me
            </label>
        </div>

        <div class="container" style="background-color: #f1f1f1;">
            <button type="button" class="cancelbtn">Cancel</button>
        <!--<span class="psw">Forget<a href="#">Password</a></span>-->
        </div>
    </form>
{% endblock %}