{% extends 'blog/base.html' %}
{% block content %}
<h1 style="margin-left: 200px;">Register</h1>

<form action="register" method="POST"  class="box">
    <table>
        <tr>
            <td>
                {% csrf_token %}
                <label for="text"><b>First Name</b></label>
            </td>
            <td>
                <input type="text" class="input" placeholder="First Name" name="first_name" id="name" type="text" required>
            </td>
        </tr>
        <tr>
            <td>
                {% csrf_token %}
                <label for="text"><b>Last Name</b></label>
            </td>
            <td>
                <input type="text" class="input" placeholder="Last Name" name="last_name" id="name" type="text" required>
            </td>
        </tr>
        <tr>
            <td>
                <label for="text"><b>Username</b></label>
            </td>
            <td>
                {% csrf_token %}
                <input type="text" class="input" placeholder="Username" name="username" id="name" type="text" required>
            </td>
        </tr>
        <tr>
            <td>
                <label for="email"><b>Email</b></label>
            </td>
            <td>
                {% csrf_token %}
                <input type="text" class="input" placeholder="Enter Email" name="email" id="email" type="email" required>
            </td>
        </tr>
        <tr>
            <td>
                <label for="psw"><b>Password</b></label>
            </td>
            <td>
                {% csrf_token %}
                <input type="password" class="input" placeholder="Enter Password" name="password1" id="password" type="password" required>
            </td>
        </tr>
        <tr>
            <td>
                <label for="psw-repeat"><b>Confirm Password</b></label>
            </td>
            <td>
                {% csrf_token %}
                <input type="password" class="input" placeholder="Re-enter password" name="password2" id="password" type="password" required>
            </td>
        </tr>
        <tr >
            <td width=1000px >
                    <button type="submit" class="signupbtn">Sign Up</button>    
            </td>
        </tr>
    
    <div>
        {% for message in messages %}
        <h3>{{ message }}</h3>
        {% endfor %}
    </div>
    
    </table>
</form>
{% endblock %}