h1 a ,h2 a {
    color:#C25100;
    font-family: 'Lobster'
}
body {
    padding-left: 15px;
}
.page-header {
    background-image:url('header_pic.jpg') ;
    background-position-y:15% ;
    background-position-x:45% ;
    background-size: auto;
    margin-top: 0;
    margin-left: -15px;
    padding: 20px 10px 130px 100px;
    
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: white;
    font-size: 36pt;
    text-shadow: 2px 2px 5px red;
}
.page-header h1 a:hover{
    color: white;
    font-size: 36pt;
    text-shadow: 2px 2px 10px red;
    text-decoration: none;
}
.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 20pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}

.comment{
    margin:20px 0px 20px 20px;
}

*{box-sizing: border-box;}



hr{
    border: 1px solid #f1f1f1;
    margin-bottom: 100px;
}

/*Set a style for all buttons */
button{
    background-color:rgb(255, 104, 104);
    color:white;
    padding: 14px 20px;
    margin: 20px -580px;
    float:right;
    border-color: rgb(255, 104, 104);
    border-radius: 2px;
    cursor: pointer;
    width: 50%;
}

button:hover{
    box-shadow: 0 0 3px rgb(252, 0, 0);
}

/*Extra styles for cancel button*/
.cancelbtn{
    padding: 14px 20px;
    background-color: #f44336;
    margin-right: -500px;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn{
    float: right;
    width: 50%;
    
}

/* Add padding  to container elements */
.container{
    padding:25px;
}

/*clear floats */
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button & signup button on extra small screens */
@media screen and (max-width: 300px){
    .cancelbtn, .signupbtn{
        width: 100%s
    }
}

/*Bordered Form */
form{
    border:5px solid #f1f1f1;
}

/*Center the avatar images inside this container*/
.imgcontainer{
    text-align: center;
    margin: 24px 0 12px 0;
}

/*Avatar image*/
img.avatar{
    width:40%;
    border-radius: 50%;
}

/*Add padding to containers*/
.container{
    padding: 16px;
}

/*The "forget-password" text */
span.psw{
    float: right;
    padding-top: 16px;
}

/*Change styles for span & cancel button on extra small screens */
@media screen and  (max-width:300px){
    span.psw{
        display:block;
        float:none;
    }
    .cancelbtn{
        width: 100%;
    }
}

/*Container*/
.box{
    background-color: #fff1f0;
    margin-left: 200px;
    background-size: contain;
    margin-right: -350px;
    padding-left: 50px;
    padding-top: 10px;
    border-radius: 10px;
    border-color: rgb(245, 146, 146);
    border-width:1px; 
}

/*input bar*/
.input{
    width: 550px;
    height:45px;
    margin-left: 50px;
    margin-top: 10px;
    border-radius: 10px;
    border-width: 0.2px;
    border-color:white;
    background-color: white;
    font-size:15px;
    outline: none;
    border-style:solid;
    padding-left: 50px;
    
}
.input:hover{
    outline: none;
    border-color:none;
    box-shadow: 0 0 3px rgb(252, 0, 0);
}
.input::selection{
    border:none;
}
